<!DOCTYPE html>
<html>
    <head>
        <title>iCoffee</title>
        <link rel="stylesheet" href="/bootstrap.css"/>
    </head>
    <body>
        <header>
            
            
        </header>
           
        <main>
            <welcome class="container">
                <h1>iCoffee</h1>
                <p>
                    I was an ordinary person who studied hard.
                    I was an ordinary person who studied hard.
                    I was an ordinary person who studied hard.
                </p>
                <button class="btn btn-primary">Shop</button>
                <button class="btn btn-secondary">Branch</button>
                
            </welcome>
            
                
        </main>
        
        <footer>
            
        </footer>
        
        <style>
            welcome {display: block}
        </style>
        
        
        <script src="/bootstrap.bundle.js"></script>
    </body>
</html>